<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>AVISO LEGAL-S&G</title>
</head>
<body>
    
    <div class="enlaceAL">
        <h1>AVISO LEGAL</h1>
        <p>Sweets & Greens es un sitio web propiedad de Silvia Arróniz, con domicilio social en c/Virgen del Socorro, 123.</p>
        
        <p>El presente sitio web tiene como objetivo principal proporcionar información sobre los productos y servicios ofrecidos por Sweets & Greens, así como permitir a los usuarios realizar compras online de nuestros productos de bollería ecológica.</p>
        
        <p>El acceso y utilización de este sitio web implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal. </p>
        
        <p>Todos los contenidos de este sitio web, incluyendo textos, fotografías, gráficos, logotipos, iconos, así como el diseño gráfico y los códigos fuente, son propiedad de Sweets & Greens o de terceros que han autorizado su uso a Sweets & Greens.</p>
        
        <p>Queda prohibida la reproducción, distribución y comunicación pública, total o parcial, de los contenidos de este sitio web, con cualquier finalidad comercial, en cualquier soporte y por cualquier medio técnico, sin la autorización previa por escrito de Sweets & Greens.</p>
        
        <p>Sweets & Greens no se hace responsable de los daños o perjuicios de cualquier naturaleza que puedan causarse a los usuarios a causa del acceso y uso de este sitio web o de sus contenidos.</p>
        
        <p>Sweets & Greens se reserva el derecho a modificar en cualquier momento las condiciones aquí establecidas.</p>
        
        <p>Las relaciones establecidas como consecuencia de la utilización de este sitio web se regirán por la legislación española. Para cualquier controversia derivada del uso de este sitio web, las partes se someten a la jurisdicción de los Juzgados y Tribunales de Alicante.</p>
    </div>
</body>
</html>