<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CONTACTO-S&G</title>
    <meta name="description" content="dulces elaborados con productos ecologicos">
    <link rel="icon" href="../assets/imagenes/logo.jpeg">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="elemento"> <a href="../index.html" class="div_barra">INICIO</a></div>
            <div class="elemento"> <a href="./productos.html" class="div_barra">PRODUCTOS</a></div>
            <div class="elemento"> <a href="./contacto.html" class="div_barra2">CONTACTO</a></div>
            <div class="elemento"> <a href="./presupuesto.html" class="div_barra">PRESUPUESTOS PARA EVENTOS</a></div>
        </nav>  
        <h1> 
            <img src="../assets/imagenes/logo.jpeg" alt="logotipo" width="60" height="60">
            <span class="rosa">Sweet</span> & <span class="verde">Greens</span>
        </h1>     
        <h2>CONTACTO</h2>
    </header>
    <main class="maincontacto">
        <img src="../assets/imagenes/mapa.jpg" alt="mapa" width="500" height="235">
        <p>C/Virgen del Socorro, 123, 12345, Alicante, España</p>
        <p>654 321 987</p>
    </main>
    

</body>
</html>