<!DOCTYPE html>
<html lang="es">

    <head>
    <meta charset="UTF-8">
    <title>PRODUCTOS-S&G</title>
    <meta name="description" content="dulces elaborados con productos ecologicos">
    <link rel="icon" href="../assets/imagenes/logo.jpeg">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <div class="elemento"> <a href="../index.html" class="div_barra">INICIO</a></div>
                <div class="elemento"> <a href="./productos.html" class="div_barra2">PRODUCTOS</a></div>
                <div class="elemento"> <a href="./contacto.html" class="div_barra">CONTACTO</a></div>
                <div class="elemento"> <a href="./presupuesto.html" class="div_barra">PRESUPUESTOS PARA EVENTOS</a></div>
            </nav>  
            <h1> 
                <img src="../assets/imagenes/logo.jpeg" alt="logotipo" width="60" height="60">
                <span class="rosa">Sweet</span> & <span class="verde">Greens</span>
            </h1>     
            <h2>NUESTROS PRODUCTOS</h2>
        </header>
        <!--Hemos creado un grid de dos filas y tres columnas para colocar cada una de las imagenes asociadas a los 
        productos en forma de rejilla-->
        <main class="mainproductos">
            <div>
                <img src="../assets/imagenes/tarta.jpg" alt="tarta" width="250" height="170">
                <p>TARTAS</p>
            </div>
            <div>
                <img src="../assets/imagenes/muffins.jpg" alt="muffins" width="250" height="170">
                <p>MUFFINS</p>
            </div>
            <div>
                <img src="../assets/imagenes/galletas.jpg" alt="galletas" width="250" height="170">
                <p>GALLETAS</p>
            </div>
            <div>
                <img src="../assets/imagenes/bombones.jpg" alt="bombones" width="250" height="170">
                <p>BOMBONES</p>
            </div>
            <div>
                <img src="../assets/imagenes/croissant.jpg" alt="croissant" width="250" height="170">
                <p>CROISSANES</p>
            </div>
            <div>
                <img src="../assets/imagenes/sin_gluten.jpg" alt="sin gluten" width="250" height="170">
                <p>SIN GLUTEN</p>
            </div>
        </main>

    </body>
</html>